@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 500; */
}

.shadower{
    color: #8f8c8c;
    box-shadow: 14px -13px 12px -7px rgba(0,0,0,0.1),-28px 21px 20px -12px rgba(0,0,0,0.1);
}